body{
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    display:grid;
    grid-auto-rows:minmax(auto, auto);
} 
.sectionOne{
    position: relative;
    background-image:url('images/1.png');
    background-repeat:no-repeat;
    background-size:cover;
    width:100%;
    height:600px;
    background-position:center;
}
.sectionOneB {
   color: beige;
   font-weight: bold;
   font-size:30px;
   padding:15px;
}
nav{
    display: flex;
    justify-content:space-between;
}
nav ul{
    display: flex;
    color: azure;
}
nav li{
    flex: 1 1 0;
    display:inline-block;
}
.sectionOneA{
 padding-left:40px;
}
.sectionOneA  li{
  padding: 10px;
}
.sectionOneA a{
    text-decoration: none;
    color: aliceblue;
}
.Home{
   padding:10px;
   transition:0.4s;
}
.Services{
    padding:10px;
    transition:0.4s;
}
.AboutUs{
    padding:10px;
    transition:0.4s;
}
.SignUp{
    padding:5px;
    border-radius:5px;
    border:solid white 1px;
    transition:0.4s;
}
.LogIn{
    padding:10px;
    transition:0.4s;
} 
.sectionOneC li{
    padding:8px;
}
.sectionOneC{
    margin-right:50px;
}
.twitterOne{
    border-radius:50%;
    border:solid white 1px;
    margin-right:10px;
}
.facebookOne{
    border-radius:50%;
    border:solid white 1px;
    margin-right:10px;
}
.instagramOne{
    border-radius:50%;
    border:solid white 1px;
    margin-right:10px;
}
.container section{
    display: flex;
 }
.red__circle__container{
    display: flex; 
    width: 50%;
    justify-content: flex-end;
    align-items: center;
    padding-bottom:180px;
}
div.sectionOneonly{
    background-color:red;
    border-radius:50% ;
    padding:15px;
    font-size:20px;
    font-weight: bolder;
    color:yellow;
    width:60px;
    height:60px;
    justify-self: self-end;
    margin-right:80px;
}
.sectionOnebutton{
    background:red;
    color:white;
    padding:10px;
    margin-top:50px;
    width:25%;
    font-size:18px;
    font-weight: bolder;
    border:none;
    border-radius:5px; 
    margin-left:100px;
}
.sectionOnesuperburger{
    color:white;
    font-weight: bolder;
    font-size:60px;
    margin-left:100px;
    margin-top:30px;
}
.sectionOneDeal{
    color:white;
    font-weight: bolder;
    font-size:60px;
    margin-left:100px;
}
.sectionOnetitle{
    margin-left:150px;
    margin-top:50px;
    display: flex;
    align-items: center;
    justify-content:left;
    background-image:url(images/title.png);
    background-position:left;
    background-repeat: no-repeat;
    height:60px;
    padding-top:15px;
    padding-left:45px;
    color:white;
    font-weight:bold;
    font-size:20px; 
}
.sectionTwoAboutus button{
    position:inherit;
    background:red;
    color:white;
    padding:10px;
    margin-top:50px;
    width:25%;
    font-size:18px;
    font-weight: bolder;
    border:none;
    border-radius:5px;
}
.sectionTwo{
    display:flex;
    margin:150px;
    line-height:30px;
}
.sectionTwoA{
  position: relative;
  width:100%;
  float:right;
  margin-top:100px;
}
.sectionTwoA p{
 padding-left:18px;
 font-weight:bold;
}
.sectionTwoClassA{
    font-size:40px;
    font-weight:bold;
    line-height:40px;
}
.sectionTwotitle{
    position: inherit;
}
.sectionTwotitle{
    display: flex;
    align-items: center;
    justify-content:left;
    background-image:url(images/title.png);
    background-position:left;
    background-repeat: no-repeat;
    height:60px;
    padding-top:15px;
    padding-left:45px;
    color:white;
    font-weight:bold;
    font-size:25px; 
}
.sectionThreeClassA{
    display:grid;
    grid-template-columns:33.3% 33.3% 33.3%;
    grid-auto-columns: auto;
}
.sectionFourClassB{
    position: relative;
    padding-top:100px;
    font-weight: bolder;
}
.sectionFourClassB{
    position: relative;
    padding-top:100px;
    font-weight: bolder;
}
.sectionFourtitle{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:url(images/title.png);
    background-position: center;
    background-repeat: no-repeat;
    height:60px;
    padding-top:15px;
    padding-right:30px;
    color:white;
    font-weight:bold;
    font-size:25px;
   }
   
.sectionFourClassB{
   text-align: center;
}
.sectionFourClassC{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    text-align: center;
    margin:20px;
    flex:1;
}
.price{ 
  color:red;
  font-weight: bold;
}
.sectionFiveclassA{
    display:grid;
    grid-template-columns:60% 40%;
    grid-auto-rows:auto;
}
.sectionFiveclassA div:first-child{
   background-color: rgb(11, 11, 12);
}
.sectionSixClassA{
  display:grid;
  grid-template-columns:33.3% 33.3% 33.3%;
  grid-auto-rows:minmax(100px,auto);
  gap: 20px;
  margin:200px;
  margin-top:20px;
}
.sectionSix div{
    text-align: center;
}
.sectionSixINSTA{
  position: relative;
  padding-top:90px;
  font-weight: bolder;
}
.sectionSixtitle{
 display: flex;
 align-items: center;
 justify-content: center;
 background-image:url(images/title.png);
 background-position: center;
 background-repeat: no-repeat;
 height:60px;
 padding-top:15px;
 color:white;
 font-weight:bold;
 font-size:25px;
}
.sectionSevenClassA{
    background-color:black;
    height:auto;
    color: blanchedalmond;
    display:flex;
    justify-content: space-between;
}
.sectionSevenClassA div{
 margin:20px;
}
.sectionSevenClassA ul{
    list-style: none;
}
ul.sectionSevenClassB{
 display: flex;
 margin-top: 20px;
 margin-left:-40px;
}
ul.sectionSevenClassB li{
    padding:1px;
}
.sectionSevenClassA div h1{
   margin-left: 40px;
}
.sectionSevenClassC li{
   margin-left:-40px;
}
.sectionSevenClassD li{
    margin-left:-40px;
}
.sectionSevenClassE li{
    margin-left:-40px;
}
.sectionSevenInput{
    position: relative;
}
.sectionSevenClassF input{
    width:100%;
    height:25px;
    margin-left:-20px;
    border-radius:5px;
    border:1px solid white;
    background:black;
    color: white;
}
.sectionSevenClassF input::placeholder{
    font-weight: bolder;
    color: white;
}
.sectionSevenInput button{
    position: absolute;
     width:40%;
     border-radius:5px;
     bottom:0px;
     right:0px;
     height:25px;
     border:none;
 }
 .sectionSevenClassF{
    position: relative;
} 
.sectionEightClassA{
    background-color: black;
    color:white;
    text-align: center;
    padding:20px;
}
/* css Animation section */
.Home:hover{
    background-color: rgb(151, 151, 147);
    color:white;
    border-radius:5px;
}
.Services:hover{
    background-color: rgb(151, 151, 147);
    color:white;
    border-radius:5px;
}
.AboutUs:hover{
    background-color: rgb(151, 151, 147);
    color:white;
    border-radius:5px;
}
.LogIn:hover{
    background-color: rgb(151, 151, 147);
    color:white;
    border-radius:5px;
}
.SignUp:hover{
    padding:5px;
    border-radius:5px;
    border:solid white 1px;
    background-color: rgb(151, 151, 147);
    color:white;
    
}












